<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Events</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-mid-12">
                </div>
            </div>
            <div class="row">
                <div class="col-mid-6">
                </div>
                <div class="col-mid-6">
                </div>
            </div>
        </div>
    </body>
</html>