{% extends "events/base.html" %}
{% block title %}
Events
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-mid-12">
    </div>
</div>
<h2>Search results</h2>
{% if events %}
    <ul class="list-group">
    {% for event in events %}
    	<a href="../events/{{event.id}}">
        <li class="list-group-item">
        	{{ event.title }}
        	{{ event.description }}
        	{{ event.host.username }}
        	{{ event.address }}
        	<span class="badge" style="background-color:red">{{ event.lostItemCount }}</span>
        	<span class="badge" style="background-color:green">{{ event.foundItemCount }}</span>
        </li>
        </a>
    {% endfor %}
    </ul>
{% else %}
    <p>No events are found.</p>
{% endif %}
{% endblock %}