{% extends "events/base.html" %}
	{% block title %}
		Lost & Found
	{% endblock %}
	{% load staticfiles %}
	{% block content %}
		<div class="jumbotron">
				<img style="margin-left:auto;margin-right:auto;margin-bottom:25px;max-width:300px" class="img-responsive" src="{% static 'events/logo.png' %}" />
				<h4 style="text-align:center;color:#777 !important; padding-bottom:20px">crowdsourced lost and found database</h4>
			
			<div class="row">
				<div class="col-sm-2">
				</div>

				<div class="col-sm-8">
					<form action="eventSearch" method="get" style="margin-left:15px">
						<input type="text" name="searchTerm" style="text-align:center;width:calc(100% - 110px);font-size:1.5em;outline:0;border:none;margin-bottom:0;border-radius:5px;padding:5px;vertical-align:middle" placeholder="Enter an event name"></input>
						<button type="submit" style="width:90px;height:40px;margin:0;vertical-align:middle" class="btn btn-success">Search</button>
					</form>
				</div>
				<div class="col-sm-2">
				</div>
			</div>
		</div>

	{% endblock %}